.voteCounter {
  // can. name
  color: #ffff;
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
  width: 42vw;

  //
  h5 {
    // can name text
    background-color: #c00000;
    padding: 6px 5px 4px 5px;
    line-height: 1;
  }
  //

  .voteAmount {
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 0px 0px 10px 10px;

    h4 {
      font-size: 3rem;
      color: #8697a3;
      padding: 6px 2px 0px 2px;
    }
  }
}
