.credits__container {
  padding-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: #707070;
  font-size: 1.5rem;
  a {
    display: flex;
    color: #707070;
  }
  button {
    font-size: 1.5rem;
    border: none;
    background: none;
    color: white;
  }

  .credits__content_hide {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .credits__content {
    gap: 2rem;
    line-height: 0;
    max-height: 100dvh;
    transition: max-height 0.5s ease-in;

    .credits__bar {
      display: flex;
      width: 60%;
      margin-bottom: 1rem;
      justify-content: center;
      align-items: center;
    }
    .credits__name {
      //   outline: 1px solid blue;
      width: 15rem;
      display: flex;
      justify-content: start;
      align-items: center;
      //   border: 1px solid yellow;
      line-height: 0;
      font-size: 1.2rem;
      p {
        text-align: left;
        display: flex;
        transform: translate(0%, 1%);
      }
    }
    .credits__icon {
      //   outline: 1px solid orange;
      display: flex;
      align-content: center;
      justify-content: start;
      width: 30%;
      //   border: 1px solid green;
      display: flex;
      font-size: 1.2rem;
      gap: 1.2rem;
    }
  }
}
