.profile__container {
  //   outline: 1px dashed green;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-height: 570px) {
    margin-bottom: 0.2rem;
  }
  img {
    width: 6.1rem;
    // border-radius: 50%;

    @media screen and (max-height: 570px) {
      display: none;
    }
  }
  .profile__kemal {
  }
}
