.dashboard__container {
  .profile__add_btn {
    width: 42vw;
    height: 14vh;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86c600;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    .react__plus {
      color: white;
    }
  }
  .profile__minus_btn {
    width: 42vw;
    height: 11vh;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1b1b1;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .profile__minus_btn:active {
    transition: background-color 0.1s ease-in-out;
    background-color: #c00000;
  }
}

.vote__void {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.vote__void_text {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 49%;
  height: 3rem;
  color: #6a6c7b;
}

.vote__void_buttons {
  display: flex;
  flex: 2; /* buttons together take 2/4 of the available space */
  justify-content: space-around;
  width: 100%;
  gap: 0.5rem;
}

.void__minus_btn,
.void__plus_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  width: 100%;
  height: 3rem;
  border: none;
}

.void__minus_btn {
  background-color: #b1b1b1;
}

.void__plus_btn {
  background-color: #86c600;
}
