.void__container {
  padding-top: 0.5rem;
  display: flex;
  width: calc(100%);

  gap: 0.5rem;
  justify-content: start;
  .void__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f1f1f1;
    display: flex;
    // outline: 2px dashed red;
    width: calc(42vw);
    height: 3rem;
    color: #6a6c7b;
  }

  .void_buttons {
    display: flex;
    width: 42vw;
    gap: 0.5rem;
    .btn {
      cursor: pointer;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-size: 2rem;
      border: none;
      background-color: #86c600;
    }
    .void__minus_btn {
      background-color: #b1b1b1;
    }
    .void__minus_btn:active {
      transition: background-color 0.1s ease-in-out;
      background-color: #c00000;
    }
  }
}
