.scores__container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
  //   padding: 0 0.5rem;
  .scores__row {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 2rem;

    .scores__icon {
      background: #d9d9d9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 15%;
    }

    .scores__text {
      background-color: #c8c9ca;
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;

      h4 {
        margin-left: 1rem;
      }
    }

    .scores__result {
      //   border-radius: 10px 0px 0px 10px;
      //   margin-left: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      width: 27.7%;
      height: 100%;
      background-color: #c8c9ca;
    }
  }
}
