.reset__container {
  width: 100% !important;
  position: relative;
  padding-top: 10px;
}

.reset__back {
  height: 2.5rem;

  display: flex;
  justify-content: center;

  .reset__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #8697a3;
    width: 100%;
    gap: 0.5rem;
    font-size: 1rem;
    color: #8697a3;
    background: transparent;

    span {
      display: flex;
      font-size: 1.3rem;
    }
  }
}

.reset__button:hover {
  border: 1px solid #ccc;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ccc;
}
