.reset__container {
  width: 100% !important;
  position: relative;
  padding-top: 1rem;
}
.reset__back {
  height: 2.5rem;

  width: 100% !important;
  //   transform: translate(-1rem, 0%);
  outline: 1px solid white;
  display: flex;
  justify-content: center;

  .reset__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    width: 100%;
    gap: 0.5rem;
    color: #8697a3;
    background-color: #333549;
    span {
      display: flex;
      font-size: 1.3rem;
      //   outline: 1px dashed darkblue;
    }
  }
}
